@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto'
}
.cap    {
    color: rgb(4, 4, 99);
    text-align: center;
    font-size: 30px;
}
.cap i:nth-child(1){
    font-size: 25px;
    color:rgb(32, 81, 156);
    margin-top: 50px;
}
.cap i{
    color: grey;
    font-size: 15px;
}